EnergyStatisticsAPI/packages
EnergyStatisticsAPI/EnergyStatisticsAPI/bin
EnergyStatisticsAPI/EnergyStatisticsAPI/obj
EnergyStatisticsAPI/.vs
EnergyStatisticsAPI/EnergyDataProvider/bin
EnergyStatisticsAPI/EnergyDataProvider/obj