#title {
  margin-left: 3vw;
}

.flex-container {
  margin-left: 3vw;
  margin-right: 5vw;
  display: flex;
  width: 100vw;
  min-height: 85vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Black section up the top */
.top-container {
  background: #111;
  background-image: url("../images/background.jpeg");
  background-size: 100% 100%;
  color: white;
}

.top-container-inner {
  padding-top: 2%;
  padding-bottom: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-container h1 {
  padding-bottom: 30%;
}

/* Line Chart */
.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart-area svg {
  width: 100%;
}

.source-link {
  text-align: right;
}

/* Bar Graph */
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

