#title {
  margin-left: 3vw;
}

.flex-container {
  margin-left: 3vw;
  margin-right: 5vw;
  display: flex;
  width: 100vw;
  min-height: 85vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Darkened image section up the top */
.top-container {
  background: #111;
  background-image: url("../images/background.jpeg");
   background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
  color: white;
  font-size: 20px;
}

.top-container-inner {
  padding-top: 2%;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-container h1 {
  padding-bottom: 50px;
}

.top-container .row {
  padding: 20px 20px;
}


.top-container input {
  color: black;
}

/* Line Chart */
.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart-area svg {
  width: 100%;
}

.source-link {
  text-align: right;
}

/* Bar Graph */
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}


/* Bar graph tooltips */


.d3-tip {
  line-height: 1.5;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}