<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title goes here</title>
  <script type="text/javascript" src="jquery.min.js"></script>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="bootstrap.min.js"></script>
  <script type="text/javascript" src="d3.min.js"></script>
</head>
<body>
  <div>
    <label id="title">Project name here</label>
    <div class="flex-container" id="page-body">

      


    </div>      
  </div>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script>
    createChart("hello world", 1200, 800);
  </script>
</body>
</html>